@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700;800&display=swap');

.futura-bold {
    font-family: "Manrope", sans-serif;
    font-weight: bold;
    font-style: normal;
}

.futura-light {
    font-family: "Manrope", sans-serif;
    font-weight: 300 ;
    font-style: normal ;

    strong {
        font-weight: 900;
    }
}

.font-heavy {
    font-family: "Manrope", sans-serif;
    font-weight: 900;
    font-style: normal;
}
